header {
    padding: 2em 1em;
    height: 3em;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    flex: 10;
}

.flex {
  display: flex;
}

/* RESPONSIVE NAVBAR MENU */
input.nav-menu-button-input {
    display: none;
}

.nav-menu-button {
    align-items: center;
    display: flex;
    height: 64px;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    position: absolute;
    width: 3em;
    right: 0.5em;
    top: 0;
    display: none;
  }

  .ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .hamRotate.active {
    transform: rotate(45deg);
  }
  .hamRotate180.active {
    transform: rotate(180deg);
  }
  .line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#000;
    stroke-width:5.5;
    stroke-linecap:round;
  }
  
  .ham .top {
    stroke-dasharray: 40 121;
  }
  .ham .bottom {
    stroke-dasharray: 40 121;
  }
  .ham.active .top {
    stroke-dashoffset: -68px;
  }
  .ham.active .bottom {
    stroke-dashoffset: -68px;
  }

/* LOGO IN THE NAVBAR STYLES */
.site-title > h1 {
    margin: 0;
    font-size: 1.3em;
    flex: 1;
}

.site-title > h1 > a {
    border: none;
}

h1.logo > a:hover {
    -webkit-text-fill-color: var(--tricorn-black);
}

/* PAGE CONTENT STYLES */
main {
    min-height: 100vh;
    display: flex;
    padding-bottom: 2em;
}

#jamie {
    text-align: justify;
}

#jamie > div > img {
  display: block;
  position: relative;
  float: right;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  width: 320px;
  border-radius: 6px;
  transform: rotate(2.5deg);
  margin: 45px;
  top: -1em;
}

.site-description h1 {
    font-size: 3em;
}

/* POSTS PAGE STYLES */
.year {
    width: 100%;
    font-size: 2em;
    color: var(--dark-color);
}

.year-container .posts {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.post-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2em;
    font-size: 1.3em;
}

.date {
    flex: 1;
    font-weight: 200;
    font-size: 0.8em;
}

.post-title {
    flex: 4;
}

/* INDIVIDUAL POST PAGE STYLES */
.post-title h1 {
  font-size: 3.5em;
  font-style: italic;
}

.post-metadata {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 2em;
}

.year-container > .post-metadata > .post-date {
  padding-right: 2em;
  color: var(--dark-color);
  vertical-align: center;
  font-weight: 200;
  font-size: 0.8em;
}

.vertical-bar {
  height: 2em;
  width: 0;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

.year-container > .post-metadata .author {
  padding-left: 2em;
  height: 100%;
  align-items: center;
  flex: 1;
}

.year-container > .post-metadata .author > a {
  font-size: 0.8em;
  border-bottom: none;
}

.post-content {
  padding-top: 1em;
}

/* EXPANDING MENU STYLES */
/* CREATE CONTAINER WITH BORDER FOR EXPANDING NAV */
.expanding-menu {
    margin-top: 2em;
    border: 2px solid var(--tricorn-black);
    border-radius: 6px;
    min-width: 200px;
    flex: 1;
    overflow: hidden;
  }
  
  .content {
    flex: 1;
    width: 80vw;
  }
  
  /* HIDE THE INPUT CHECKBOX */
  .expanding-menu input {
    display: none;
  }

  /* SET STYLING FOR CLICKABLE LABEL ELEMENT */
  .expanding-menu label {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    text-align: left;
    line-height: 40px;
    cursor: pointer;
    padding-left: 10px;
  }

  .expanding-menu label:hover {
    font-weight: 800;
    color: var(--pure-white);
    background-color: var(--tricorn-black);
  }
  
   /* SET UNEXPANDED STYLE FOR NAV LIST */
  .expanding-menu ul {
    overflow: hidden;
    min-height: 0px;
    max-height: 0px;
    padding: 0;
    margin: 0;
    transition: all 0.5s;
    list-style: none;
  }
  
  /* SET EXPANDED STYLE FOR NAV LIST */
  .expanding-menu input:checked ~ ul {
    width: 100%;
    min-height: 30px;
    max-height: 100vh;
  }
  
  .expanding-menu ul li a {
    color: var(--tricorn-black);
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    letter-spacing:2 px;
    text-align: left;
    transition: color 0.5s;
    padding-left: 20px;
    border-bottom: none;
  }
  
  .expanding-menu ul li a:hover {
    background: var(--tricorn-black);
    color: white;
  }

  li.indent a {
    text-indent: 1em;
  }

  ol.expanding-menu-list {
    list-style-type: none;
    list-style-position: outside;
  }

  @media only screen and (max-width:660px) {
    .nav-menu-button {
        display: flex;
    }

    nav {
        flex-direction: column;
        position: fixed;
        top: 3em;
        right: 0;
        align-items: end;
        justify-content: flex-start;
        width: 0;
        height: 0;
        padding: 0;
        overflow: hidden;
        transition: width 0.5s;
      }
      
      nav a {
        margin-bottom: 0.5em;
      }

      .nav-menu-button-input:checked ~ label ~ .nav-menu-background {
        height: calc(100vh - 4em);
        width: 100vw;
        position: fixed;
        top: 4em;
        background: var(--pure-white);
        opacity: 90%;
        z-index: 1;
      }

      .nav-menu-button-input:checked + label > .nav-menu-button {
        position: fixed;
        z-index: 999;
      } 
      
      .nav-menu-button-input:checked + label + div + header {
        position: sticky;
        top: 0;
        background-color: var(--pure-white);
        opacity: 90%;
        z-index: 1;
      } 

      .nav-menu-button-input:checked ~ label ~ div ~ header .nav-links nav {
        width: 100vw;
        height: 100vh;
        padding: 1em 0.5em;
        z-index: 999;
      }

  }

  @media only screen and (max-width:1024px) {
    #jamie > div > img {
      display: block;
      position: inherit;
      float: right;
      height: auto;
      max-width: 100%;
      vertical-align: middle;
      width: 100%;
      border-radius: 6px;
      transform: rotate(0deg);
      margin: 2em 0;
      top: 0;
  }
}