:root {
    --pure-white: #EDECE6;
    --title-color-gradient: linear-gradient(to right, #51AE8A 0%, #8A51AE 70%);
    --nav-color-gradient: linear-gradient(to right, #51AE8A 40%, #8A51AE 100%);
    --bright-color: #51AE8A;
    --dark-color: #8A51AE;
    --primary-link-color: #3a86ff;
    --primary-link-hover-color: #0767FF;
    --tricorn-black: #2F2F30;
}

* {
    box-sizing: border-box;
    font-family: Transat, sans-serif;
    color: var(--tricorn-black);
}

html, body {
    margin: 0;
    background-color: var(--pure-white);
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header, footer {
    display: flex;
    flex-direction: row;
}

span.spacer {
    flex: 0.25;
}

.header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: scroll;
    flex: 3;
    max-width: 600px;
}

.page-content, .footer, .footer-content {
    flex: 3;
}

.header-content {
    flex: 10;
}

p {
    font-size: 1.2em;
    line-height: 1.5em;
}

a {
    text-decoration: none;
    color: var(--primary-link-color);
    font-weight: 500;
    border-bottom: 2px solid var(--primary-link-color);
}

a:hover {
    color: var(--primary-link-hover-color);
    border-bottom: 2px solid var(--primary-link-hover-color);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
}

nav a {
    border: unset;
    margin: 1em 1em;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.3em;
    color: var(--tricorn-black);
}

nav > a:hover {
    border: unset;
    background: var(--nav-color-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

.site-title > h1 {
    margin: 1em 0 0 0;
    font-size: 3em;
    background: var(--title-color-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer {
    display: flex;
    flex-direction: row;
    background: var(--tricorn-black);
    padding: 2em 0;
}

.footer {
    display: flex;
    flex-direction: column;
}

.footer h2, .footer p {
    color: var(--pure-white);
}

.footer a {
    color: var(--pure-white);
    border-bottom: 2px solid var(--pure-white);
}

.footer  a:hover {
    border: unset;
    color:  var(--pure-white);
}

@media only screen and (min-width: 600px) {
    span.spacer {
        flex: 1;
    }
}
